.add-siswa {
    margin: 50px 20px;
}

.add-siswa a {
    padding: 20px;
    background-color: gray;
    color: white;
    text-decoration: none;
    font-weight: 800;
}

.tabel-mahasiswa {
    margin: 20px;
}

.myprofile {
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 20%;
}

.menu-option {
    border-radius: 10px;
    border: none;
    margin: 15px;
    width: 80%;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

table tr th {
    background-color: black;
    color: white;
    padding: 8px;
}

table tr td {
    background-color: darkgrey;
    padding: 10px;
}

.delete {
    background-color: rgb(225, 81, 81);
    color: white;
    padding: 4px;
    font-weight: 500;
    cursor: pointer;
    margin: 4px;
    text-decoration: none;
}

.edit {
    background-color: rgb(48, 110, 218);
    color: white;
    text-decoration: none;
    padding: 4px;
    font-weight: 500;
    cursor: pointer;
    margin: 4px;
}
